root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,json,md,ps1,sh,ts,tsx}]
indent_size = 2

[.prettierrc]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

